@font-face {
  font-family: BebasNeue;
  font-weight: 400;
  src: url("/fonts/ofont.ru_Bebas Neue Regular.ttf") format("truetype");
}
/*@font-face {
  font-family: BebasNeue;
  font-weight: 300;
  src: url("/fonts/BebasNeue-Light.ttf") format("truetype");
}
@font-face {
  font-family: BebasNeue;
  font-weight: 200;
  src: url("/fonts/BebasNeue-Thin.ttf") format("truetype");
}
@font-face {
  font-family: BebasNeue;
  font-weight: 500;
  src: url("/fonts/BebasNeue-Medium.ttf") format("truetype");
}*/
